<body class="main-bg">
   
    <div class="button-container">
        <a href="/income">
            <button class="button-43" role="button">Income</button>

        </a>
        
    
    
        <a href="/expense">
            <button class="button-43" role="button">Expense</button>
        </a>
    </div>



<ul >
        Income

        <% incomes.forEach(income => { %>
        <div class="income">

            <li><a href="/income/<%=income._id%>"><%= income.name %></li></a>
            <div>$ <%=income.price%></div>
        </div>

        <% }); %>


        Total Income: <%=incomeSummary%>
    </ul>
    <ul >
        Expense
       <div>
           <% expenses.forEach(expense => { %>
            
            <div class="expense">

                <li><a href="/expense/<%=expense._id%>"><%= expense.name %></li></a>
                <div>$ <%=expense.price%></div>
            </div>
            
            <% }); %>
        </div> 


        Total Expense: <%=expenseSummary%>

    </ul>
    
        Total: <%=totalSummary%>

</body>

