<%incomes.forEach( income=> {%>

    <h1>
        <%= income.name%>
    </h1>
    <h2>
        <div>
            <%= income.description%>
        </div>

        <div>
            
            <%= income.price%>
        </div>
        <div>

            <%= income.date%>
        </div>
        <ul>
            <a href="/income/edit/<%=income._id%>">
                <button>Edit</button>
            </a>
            
        </ul>
    </h2>


<%})%>


    <ul>
        <a href="/income/create">
            <button>Create</button>
    </a>
    


        <a href="/main">
            <button>Back</button>
    </a>
</ul>