<body class="main-bg">
    <div class="layout">
        <div class="expense-list">
            <% expenses.forEach(expense => { %>
            <div class="expense-item">
                <h1><%= expense.name %></h1>
                <div class="expense-details">
                    <p><strong>Description:</strong> <%= expense.description %></p>
                    <p><strong>Amount:</strong> $<%= expense.price %></p>
                    <p><strong>Date:</strong> <%= expense.date %></p>
                
                    <div class="expense-actions">
                        <a href="/expense/edit/<%=expense._id%>" class="button-43">Edit</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <div class="button-container">
        <a href="/expense/create">
            <button>Create</button>
        </a>
        <a href="/main">
            <button>Back</button>
        </a>
    </div>
</body>
