<body class="main-bg">
    <div class="income-list">
        <div class="income-item">
            <h1><%= expense.name %></h1>
            <div class="income-details">
                <p><strong>Description:</strong> <%= expense.description %></p>
                <p><strong>Amount:</strong> $<%= expense.price %></p>
                <p><strong>Date:</strong> <%= expense.date %></p>
            </div>
            <div class="income-actions button-container">
                <a href="/expense/edit/<%=expense._id%>" class="button-43">Edit</a>
                <a href="/expense/create" class="button-43">Create</a>
                <a href="/main" class="button-43">Back</a>
            </div>
        </div>
    </div>
</body>
